*{
    margin: 0;
}
.about-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #E9ECFF;
    padding: 0 30px;
    border-bottom: 2px solid black;
}
#navMenu-about{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Geist Mono", monospace;
}

#navMenuBurgerMain-about{
    display: none;
}

.homeBtn-about, .aboutBtn-about{
    border: none;
    background: none;
    font-size: 1.1rem;
}

.reserveBtn-about{
    background-color: #808DFD;
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 7px;
}

.aboutUsTittle-about{
    display: flex;
    justify-content: start;
    font-size: 4.5rem;
    font-family: "Anek Tamil", sans-serif;
    margin: 20px;
}

.grid-about{
    display: grid;
    grid-template-rows: 700px 700px 700px 700px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-about img{
    width: 100%;
    height: 100%;
}

.stage1{
    background-color: #808DFD;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stage1 h2{
    font-size: 3.5rem;
    line-height: 50px;
    margin: 20px;
    font-weight: bold;
    font-family: "Anek Tamil", sans-serif;
}
.stage1 div {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}
.stage1 h5{
    font-size: 1.5rem;
    font-family: "Anek Tamil", sans-serif;
}
.stage1 p{
    font-size: 1.2rem;
    font-family: "Geist", sans-serif;
    
}
.stage2{
    background-image: url('../../../public/images/2men.png');
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/4;
    transition: 1s;
}

.stage3{
    grid-column: 1/3;
    background-image: url('../../../public/images/deadLift.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}
.stage4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.stage4 h2{
    font-size: 3rem;
    font-family: "Anek Tamil", sans-serif;
}
.stage4 p{
    font-size: 1.2rem;
    font-family: "Geist", sans-serif;
}
.stage5{
    grid-column: 1/4;
    background-image: url('../../../public/images/pushWeight.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}
.stage6{
    grid-column: 1/4;
    background-color: #E9ECFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid black;
}
.stage6 h3{
    font-size: 4rem;
    font-family: "Anek Tamil", sans-serif;
    text-align: center;

}
.stage6 p{
    font-size: 1.2rem;
    font-family: "Geist", sans-serif;
}
.stage6 button{
    background-color: #808DFD;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 7px;

}



.primalTrainingFooter-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E9ECFF;
    width: 100%;
    height: 70vh;
    padding: 20px 0;
    font-family: "Anek Tamil", sans-serif;
    font-weight: bold;
}

.primalFooterTop-about{
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.primalFooterTopImgHolder-about{
    background-image: url('../../../public/images/footerImg.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}

.primalFooterBottom-about{
    display: flex;
    justify-content: space-between;
    width: 95%;

}

.primalFooterBottom-about div{
    display: flex;
    flex-direction: column;
}

.primalFooterBottom-about div p{
    margin: 0;
    
}

.listFooter-about{
    padding: 0;
}

.listFooter-about li{
    display: flex;
    justify-content: space-between;
    
}

.linkHolderFooter-about a{
    color: black;
}


@media (max-width: 1279px) {

    #navMenu-about{
        width: 50%;
    }

    .grid-about{
        grid-template-rows: minmax(200px, 500px) minmax(200px, 500px) minmax(200px, 500px) minmax(200px, 500px);
        grid-template-columns: minmax(200px, 500px) minmax(200px, 500px) minmax(200px, 500px) minmax(200px, 500px);
    }

    .stage1{
        grid-column: 1/3;
    }

    .stage1 h2{
        font-size: 2.5rem;
        line-height: 35px;
    }

    .stage1 h5{
        font-size: 1.8rem;
    }

    .stage2{
        grid-column: 3/5;
        background-image: url('../../../public/images/2menMid.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .stage3{
        background-image: url('../../../public/images/deadLiftMid.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .stage4{
        grid-column: 3/5;
    }

    .stage5{
        grid-column: 1/5;
        background-image: url('../../../public/images/pushWeightMid.png');
    }
    
    .stage6{
        grid-column: 1/5;
    }

    .primalFooterTop-about{
        font-size: 1.5rem;
    }
    
    .primalFooterTopImgHolder-about{
        height: 150px;
        width: 200px;
    }

    .primalFooterBottom-about h1{
        font-size: 1.5rem;
    }

    .primalFooterBottom-about p{
        font-size: 1rem;
    }

    .listFooter-about{
        width: 250px;
    }




}


@media (max-width: 799px){

    .about-nav{
        position: relative;
    }

    #navMenu-about{
        display: none;
    }
   
    #navMenuBurgerMain-about{
        display: flex;
        align-items: end;
        height: 400px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0
    }

    .burgerMenuButton-about{
        position: absolute;
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burgerMenuButtonPart1-about{
        height: 1px;
        width: 50px;
        background-color: black;
        position: absolute;
    }

    .burgerMenuButtonPart2-about{
        height: 50px;
        width: 1px;
        background-color: black;
        position: absolute;
    }

    .burgerMenu-about{
        width: 100%;
        height: 73%;
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
    }

    .burgerMenu-about div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        border-bottom: 2px solid black;

    }

    .burgerMenu-about div:nth-of-type(3){
        background-color:#808DFD;
    }

    .about-btn, .about-btn{
        font-size: 2.5rem;
    }


    .reserve-btn{
        background-color: inherit;
        color: white;
        font-size: 2.5rem;
    }

    .aboutUsTittle-about{
        font-size: 1.5rem;
    }

    .grid-about{
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
        
    }

    .stage1{
        grid-row: 6/15;
        grid-column: 1/2;
        
    }

    .stage1 h2{
        font-size: 2.2rem;
    }

    .stage2{
        grid-row: 1/6;
        grid-column: 1/2;
        background-image: url(../../../public/images/2menSmall.jpg);

    }

    .stage3{
        grid-row: 15/20;
        grid-column: 1/2;
        background-image: url(../../../public/images/deadLiftSmall.jpg);
    }

    .stage4{
        grid-row: 20/26;
        grid-column: 1/2;
        font-size: 2rem;
    }

    .stage4 h2{
        font-size: 2.2rem;
    }
    
    .stage5{
        grid-row: 26/37;
        grid-column: 1/2;
        background-image: url(../../../public/images/pushWeightSmall.png);

    }

    .stage6{
        grid-column: 1/2;
        grid-row: 37/49;
    }

    .stage6 h3{
        font-size: 3rem;
    }

    .primalFooterTop-about{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.5rem;
    }

    .primalFooterTop-about h1{
        font-size: 3.5rem;
    }

    .primalFooterTopImgHolder-about{
        height: 100px;
        width: 200px;
        
    }

    .primalFooterBottom-about{
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .primalFooterBottom-about > div{
        margin-left: 30px;
    }

    .primalFooterBottom-about div h1{
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .primalFooterBottom-about div p{
        font-size: 1.2rem;
    }
    .primalTrainingFooter-about{
        height: 80vh;
    }

    .listFooter-about{
        width: 300px;
    }
}